<!-- <p>add-book-dialog works!</p> -->
<h1 mat-dialog-title>Add book</h1>
<div mat-dialog-content>
    <form [formGroup]="bookForm">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>
    
        <div formGroupName="author">
            <p>
                <mat-form-field>
                    <mat-label>First name</mat-label>
                    <input matInput type="text" formControlName="firstName">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Last name</mat-label>
                    <input matInput type="text" formControlName="lastName">
                </mat-form-field>
            </p>
        </div>
    </form>
    <!-- <div mat-dialog-actions> -->
        <button mat-button (click)="onCancelClick()">Cancel</button>
        <!-- <button mat-button [mat-dialog-close]="book" cdkFocusInitial [disabled]="bookForm.invalid">Add</button> -->
        <button mat-button (click)="onAddClick()" cdkFocusInitial [disabled]="bookForm.invalid">Add</button>
    <!-- </div> -->
</div>
